.box{
  border-style: solid;
  border-color: rgba(255, 204, 153, 0.3);
  border-width: thin;
  border-radius:  10% / 50%;
  margin: 10px 300px 10px;
  background-color: rgba(255, 204, 153, 0.4);
}
h2{
  text-align: center;
  font-weight: lighter;
  font-style: normal;
  font-family: "Redressed",cursive;
  margin-top: 80px;
  padding-bottom: 0;
  font-size: 100px;
  color: rgb(128, 51, 0);
  opacity: 100%;
}
#logo{
  text-align: center;
  font-weight: bold;
  font-style: normal;
  font-family: "Brush Script MT",cursive;
  font-size: 150px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: rgb(128, 51, 0);
  opacity: 150%;
}
.maintext{
  text-align: center;
  font-family: "Redressed",cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: rgb(113, 51, 10);
  opacity: 150%;
  padding: 40px 60px 0;
}
#fixCol{
  background-color: transparent;
  margin: 0 80px 0;
  flex: auto;
  justify-content: center;
}
.card_body{
  flex: 1 1 auto;
}
.center {
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.maintext2{
  text-align: center;
  font-family: "Redressed",cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  color: rgb(113, 51, 10);
  opacity: 150%;
  padding: 20px 60px 0;
}
.fixCenter{
  display: inline-block;
  height:200px;
  margin-right: 50px;
  margin-left: 20px;


}
.button{
  padding: 15px 32px;
  text-align: center;
  font-family: "Redressed",cursive;
  color: rgb(113, 51, 10);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-style: solid;
  border-color: rgb(113, 51, 10);
  border-width: medium;
  border-radius:  10% / 50%;
  background-color: rgba(255, 204, 153, 0.4);
}



.trainer1{
position: absolute;
left:58%;
top:650px;
height:100px;
}

.trainer2{
  position: absolute;
  left:62%;
  top:650px;
  height:100px;
}

.bug{
position: absolute;
top:480px;
height:300px;
left:35%;
}

.iron{
position: absolute;
top:650px;
left:1100;
width:30px;
}

@keyframes waffle {
  from {left: 57%;}
  to {left: 45%;}
}

.room{
  width:100%;
  display:block;
  margin-left: auto;
  margin-right: auto;
 text-align: center;

}
